# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules/

# builds
dist/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# system files
.DS_Store
Thumbs.db

# personal / local data dumps
month.json
month_05.json
*.json.bak
